In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
surveys = pd.read_csv("C:/Users/Mariusz Baran/Data_Science_kurs/Data_science_pliki/course-files/StackOverflowDeveloperSurvey.csv",
                 usecols=["CompanySize"], squeeze=True)
surveys.head()

0                         NaN
1          20 to 99 employees
2    10,000 or more employees
3    10,000 or more employees
4          10 to 19 employees
Name: CompanySize, dtype: object

In [3]:
surveys[3]

'10,000 or more employees'

In [4]:
surveys[1:11]

1           20 to 99 employees
2     10,000 or more employees
3     10,000 or more employees
4           10 to 19 employees
5                          NaN
6           20 to 99 employees
7      Fewer than 10 employees
8     5,000 to 9,999 employees
9                          NaN
10        100 to 499 employees
Name: CompanySize, dtype: object

In [5]:
surveys[12345]

'20 to 99 employees'

In [11]:
surveys[12341:12351]

14554    10,000 or more employees
9429     10,000 or more employees
6384     10,000 or more employees
1102     10,000 or more employees
14549    10,000 or more employees
14547    10,000 or more employees
14570    10,000 or more employees
14575    10,000 or more employees
6410     10,000 or more employees
14576    10,000 or more employees
Name: CompanySize, dtype: object

In [7]:
surveys.sort_values(inplace=True)

In [8]:
surveys[3] #Ta sama wartość

'10,000 or more employees'

In [9]:
surveys[1:11] #Inna wartość

36683    1,000 to 4,999 employees
43105    1,000 to 4,999 employees
43102    1,000 to 4,999 employees
30582    1,000 to 4,999 employees
43072    1,000 to 4,999 employees
43063    1,000 to 4,999 employees
23955    1,000 to 4,999 employees
43060    1,000 to 4,999 employees
43056    1,000 to 4,999 employees
30558    1,000 to 4,999 employees
Name: CompanySize, dtype: object

In [10]:
surveys[12341:12351] #Inna wartość

14554    10,000 or more employees
9429     10,000 or more employees
6384     10,000 or more employees
1102     10,000 or more employees
14549    10,000 or more employees
14547    10,000 or more employees
14570    10,000 or more employees
14575    10,000 or more employees
6410     10,000 or more employees
14576    10,000 or more employees
Name: CompanySize, dtype: object

In [12]:
surveys[[3, 12345]] #Tutaj te same wartości

3        10,000 or more employees
12345          20 to 99 employees
Name: CompanySize, dtype: object

Reset indexów do wartości początkowych

In [13]:
surveys.reset_index(drop=True, inplace=True)

In [14]:
surveys[3]

'1,000 to 4,999 employees'

In [15]:
surveys[1:11]

1     1,000 to 4,999 employees
2     1,000 to 4,999 employees
3     1,000 to 4,999 employees
4     1,000 to 4,999 employees
5     1,000 to 4,999 employees
6     1,000 to 4,999 employees
7     1,000 to 4,999 employees
8     1,000 to 4,999 employees
9     1,000 to 4,999 employees
10    1,000 to 4,999 employees
Name: CompanySize, dtype: object

In [16]:
surveys[12345]

'10,000 or more employees'

In [17]:
surveys[12341:12350]

12341    10,000 or more employees
12342    10,000 or more employees
12343    10,000 or more employees
12344    10,000 or more employees
12345    10,000 or more employees
12346    10,000 or more employees
12347    10,000 or more employees
12348    10,000 or more employees
12349    10,000 or more employees
Name: CompanySize, dtype: object

0      1,000 to 4,999 employees
1      1,000 to 4,999 employees
2      1,000 to 4,999 employees
3      1,000 to 4,999 employees
4      1,000 to 4,999 employees
                 ...
495    1,000 to 4,999 employees
496    1,000 to 4,999 employees
497    1,000 to 4,999 employees
498    1,000 to 4,999 employees
499    1,000 to 4,999 employees
Name: CompanySize, Length: 500, dtype: object