In [1]:
import pandas as pd

In [4]:
programmers = pd.read_csv("C:/Users/Mariusz Baran/Data_Science_kurs/Data_science_pliki/course-files/StackOverflowDeveloperSurvey2018.csv",
                         low_memory=False, usecols=["ConvertedSalary"], squeeze=True)
print(programmers.head())

0        NaN
1    70841.0
2        NaN
3        NaN
4    21426.0
Name: ConvertedSalary, dtype: float64

In [5]:
print(f'Średnia: {programmers.mean()}')
print(f'Mediana: {programmers.median()}')
print(f'Odchylenie standardowe: {programmers.std()}')

Średnia: 95780.86178776571
Mediana: 55075.0
Odchylenie standardowe: 202348.21562528735

In [6]:
fortune_500 = pd.read_csv("C:/Users/Mariusz Baran/Data_Science_kurs/Data_science_pliki/course-files/Fortune_500_2017.csv",
                         usecols=["Title", "Employees"], index_col="Title", squeeze=True)
print(fortune_500.head())

Title
Walmart               2300000
Berkshire Hathaway     367700
Apple                  116000
Exxon Mobil             72700
McKesson                68000
Name: Employees, dtype: int64

In [8]:
print(f'Najwięcej pracowników zatrudnia: {fortune_500.idxmax()}')

Najwięcej pracowników zatrudnia: Walmart

In [16]:
print(f'{fortune_500.idxmax()} zatrudnia {fortune_500.loc[fortune_500.idxmax()]} pracowników')

Walmart zatrudnia 2300000 pracowników

In [17]:
print(f'Najmniej pracowników zatrudnia: {fortune_500.idxmin()}')

Najmniej pracowników zatrudnia: A-Mark Precious Metals

In [ ]:
print(f'{fortune_500.idxmin()} zatrudnia {fortune_500.loc[fortune_500.idxmax()]} pracowników')