In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
%matplotlib inline

In [3]:
cities = ["London", "Berlin", "Warsaw", "Paris"]
print(cities)

['London', 'Berlin', 'Warsaw', 'Paris']

In [4]:
pd.Series(cities)

0    London
1    Berlin
2    Warsaw
3     Paris
dtype: object

In [5]:
prime_numbers = (2, 3, 5, 7, 13, 17, 19)
pd.Series(prime_numbers)

0     2
1     3
2     5
3     7
4    13
5    17
6    19
dtype: int64

In [6]:
logical_values = (True, False, True)
pd.Series(logical_values)

0     True
1    False
2     True
dtype: bool

In [9]:
spielberg_filmography = {"Jaws": 1975,
                        "1941": 1979,
                        "Indiana Jones": 1981,
                        "E.T": 1982}
print(spielberg_filmography)

{'Jaws': 1975, '1941': 1979, 'Indiana Jones': 1981, 'E.T': 1982}

In [10]:
pd.Series(spielberg_filmography)

Jaws             1975
1941             1979
Indiana Jones    1981
E.T              1982
dtype: int64