In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [17]:
wypadki = [14 ,334 ,312 ,5823 ,9491, 7486, 4343]
wiek = ["do 6", "7-14", "15-17", "18-24", "25-39", "40-59", "60 i więcej"]
series = pd.Series(data=wypadki, index=wiek)
print(series)

do 6             14
7-14            334
15-17           312
18-24          5823
25-39          9491
40-59          7486
60 i więcej    4343
dtype: int64

In [18]:
series.where(series > 1000)

do 6              NaN
7-14              NaN
15-17             NaN
18-24          5823.0
25-39          9491.0
40-59          7486.0
60 i więcej    4343.0
dtype: float64

In [20]:
series_1000 = series.where(series > 1000).dropna()
print(series_1000)

18-24          5823.0
25-39          9491.0
40-59          7486.0
60 i więcej    4343.0
dtype: float64

In [21]:
print(series)

do 6             14
7-14            334
15-17           312
18-24          5823
25-39          9491
40-59          7486
60 i więcej    4343
dtype: int64

In [23]:
series.filter(items=["18-24", "25-39", "40-59"])

18-24    5823
25-39    9491
40-59    7486
dtype: int64

In [29]:
series.where(series <= 1000, inplace=True)
series.dropna(inplace=True)
print(series)

do 6      14.0
7-14     334.0
15-17    312.0
dtype: float64