In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
salary = pd.read_csv("C:/Users/Mariusz Baran/Data_Science_kurs/Data_science_pliki/course-files/StackOverflowDeveloperSurvey.csv",
                 usecols=["Salary"], squeeze=True).dropna()
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [4]:
salary.sort_values(ascending=False).head()

31600    197000.0
27943    195000.0
6743     195000.0
18237    195000.0
41398    195000.0
Name: Salary, dtype: float64

In [5]:
salary.sort_values().head()

51144    0.0
23953    0.0
23907    0.0
44841    0.0
2951     0.0
Name: Salary, dtype: float64

In [8]:
salary.sort_values(ascending=False, inplace=True)
salary.head(10)

31600    197000.0
27943    195000.0
6743     195000.0
18237    195000.0
41398    195000.0
1696     195000.0
32622    194000.0
6717     193750.0
30550    193000.0
2370     192000.0
Name: Salary, dtype: float64

In [11]:
salary.sort_index(ascending=False).head()

51390     40000.000000
51387     58000.000000
51382     32258.064516
51378    107526.881720
51371     74193.548387
Name: Salary, dtype: float64

In [13]:
max_salaries = salary.sort_values(ascending=False).head(100)
print(max_salaries)

31600    197000.0
27943    195000.0
6743     195000.0
18237    195000.0
41398    195000.0
           ...
13235    170000.0
274      170000.0
41214    170000.0
45384    170000.0
14805    170000.0
Name: Salary, Length: 100, dtype: float64

In [14]:
min_salaries = salary.sort_values().head(100)
print(min_salaries)

2951       0.000000
23907      0.000000
44841      0.000000
4517       0.000000
51144      0.000000
            ...
26905    176.185582
33212    178.784267
50569    198.208780
48674    198.649186
1077     200.000000
Name: Salary, Length: 100, dtype: float64

In [18]:
print(f"Średnia 100 najlepiej zarabiających: {max_salaries.mean()}")
print(f"Średnia 100 najgorzej zarabiających: {min_salaries.mean()}")

Średnia 100 najlepiej zarabiających: 180198.1045586777
Średnia 100 najgorzej zarabiających: 67.08388907133795