**Wyszukiwanie danych w nultiindeksie**

In [1]:
import pandas as pd
import numpy as np

In [2]:
incidents = pd.read_csv('C:/Users/Mariusz Baran/Data_Science_kurs/Data_science_pliki/course-files/Canadian Railway Crossing Incidents.csv')
incidents.set_index(['Region', 'EventType'], inplace=True)
incidents.sort_index(inplace=True)
incidents.head(10)

                                   Public automated  Public passive  Private  \
Region           EventType
Alberta          Accidents                        3               7        2
                 Fatalities                       0               0        0
                 Serious injuries                 0               1        2
British Columbia Accidents                        4               1        0
                 Fatalities                       0               0        0
                 Serious injuries                 3               0        0
Manitoba         Accidents                        1               3        0
                 Fatalities                       0               1        0
                 Serious injuries                 0               0        0
New Brunswick    Accidents                        0               0        0

                                   Farm
Region           EventType
Alberta          Accidents            0
                 Fatalities           0
                 Serious injuries     0
British Columbia Accidents            0
                 Fatalities           0
                 Serious injuries     0
Manitoba         Accidents            2
                 Fatalities           0
                 Serious injuries     1
New Brunswick    Accidents            0

Metody wyszukiwania:

In [3]:
incidents.loc[('Alberta', 'Accidents')]

Public automated    3
Public passive      7
Private             2
Farm                0
Name: (Alberta, Accidents), dtype: int64

In [4]:
incidents.loc['Alberta']

                  Public automated  Public passive  Private  Farm
EventType
Accidents                        3               7        2     0
Fatalities                       0               0        0     0
Serious injuries                 0               1        2     0

In [5]:
incidents.head()

                                   Public automated  Public passive  Private  \
Region           EventType
Alberta          Accidents                        3               7        2
                 Fatalities                       0               0        0
                 Serious injuries                 0               1        2
British Columbia Accidents                        4               1        0
                 Fatalities                       0               0        0

                                   Farm
Region           EventType
Alberta          Accidents            0
                 Fatalities           0
                 Serious injuries     0
British Columbia Accidents            0
                 Fatalities           0

In [6]:
incidents.iloc[2]

Public automated    0
Public passive      1
Private             2
Farm                0
Name: (Alberta, Serious injuries), dtype: int64

Wyszukanie konkretnej komórki:

In [7]:
incidents.loc[('Alberta', 'Accidents')].loc['Public passive']

7

In [8]:
incidents.loc[('Alberta', 'Accidents'), 'Public passive']

7