In [1]:
import pandas as pd
import numpy as np

In [3]:
fuel = pd.read_csv('C:/Users/Mariusz Baran/Data_Science_kurs/Data_science_pliki/course-files/fuel.csv',
                  usecols=['Year','Make','Model','Range (FT1)','City Range (FT1)'])
fuel.set_index(['Year','Make','Model'], inplace=True)
fuel.sort_index(inplace=True)
fuel.head()

                                   Range (FT1)  City Range (FT1)
Year Make       Model
1984 AM General DJ Po Vehicle 2WD          0.0               0.0
                DJ Po Vehicle 2WD          0.0               0.0
                FJ8c Post Office           0.0               0.0
                FJ8c Post Office           0.0               0.0
     Alfa Romeo GT V6 2.5                  0.0               0.0

In [12]:
fuel = fuel.swaplevel(i=0, j=1)
fuel.sort_index(inplace=True)
fuel.loc[('Alfa Romeo', 1984, 'Spider Veloce 2000')]

                                    Range (FT1)  City Range (FT1)
Make       Year Model
Alfa Romeo 1984 Spider Veloce 2000          0.0               0.0
                Spider Veloce 2000          0.0               0.0

In [13]:
fuel = fuel.swaplevel(i=1, j=2)
fuel.sort_index(inplace=True)
fuel.loc[('Alfa Romeo', 'Spider Veloce 2000', 1984)]

                                    Range (FT1)  City Range (FT1)
Make       Model              Year
Alfa Romeo Spider Veloce 2000 1984          0.0               0.0
                              1984          0.0               0.0