**Metadane multiindeksu**

In [1]:
import pandas as pd
import numpy as np

In [2]:
incidents = pd.read_csv('C:/Users/Mariusz Baran/Data_Science_kurs/Data_science_pliki/course-files/Canadian Railway Crossing Incidents.csv')
incidents.head()

,Region,EventType,Public automated,Public passive,Private,Farm
0,Newfoundland,Accidents,0,0,0,0
1,Newfoundland,Fatalities,0,0,0,0
2,Newfoundland,Serious injuries,0,0,0,0
3,Nova Scotia,Accidents,1,0,0,0
4,Nova Scotia,Fatalities,0,0,0,0

In [3]:
incidents.set_index('Region', inplace=True)
incidents.head()

,EventType,Public automated,Public passive,Private,Farm
Region,,,,,
Newfoundland,Accidents,0,0,0,0
Newfoundland,Fatalities,0,0,0,0
Newfoundland,Serious injuries,0,0,0,0
Nova Scotia,Accidents,1,0,0,0
Nova Scotia,Fatalities,0,0,0,0

In [4]:
incidents.index

Index(['Newfoundland', 'Newfoundland', 'Newfoundland', 'Nova Scotia',
       'Nova Scotia', 'Nova Scotia', 'New Brunswick', 'New Brunswick',
       'New Brunswick', 'Quebec', 'Quebec', 'Quebec', 'Ontario', 'Ontario',
       'Ontario', 'Manitoba', 'Manitoba', 'Manitoba', 'Saskatchewan',
       'Saskatchewan', 'Saskatchewan', 'Alberta', 'Alberta', 'Alberta',
       'British Columbia', 'British Columbia', 'British Columbia',
       'Northwest Territories', 'Northwest Territories',
       'Northwest Territories'],
      dtype='object', name='Region')

In [6]:
incidents.reset_index(inplace=True)
incidents.set_index(['Region', 'EventType'], inplace=True)
incidents.head()

                               index  Public automated  Public passive  \
Region       EventType
Newfoundland Accidents             0                 0               0
             Fatalities            1                 0               0
             Serious injuries      2                 0               0
Nova Scotia  Accidents             3                 1               0
             Fatalities            4                 0               0

                               Private  Farm
Region       EventType
Newfoundland Accidents               0     0
             Fatalities              0     0
             Serious injuries        0     0
Nova Scotia  Accidents               0     0
             Fatalities              0     0

In [11]:
incidents.index

MultiIndex([(         'Newfoundland',        'Accidents'),
            (         'Newfoundland',       'Fatalities'),
            (         'Newfoundland', 'Serious injuries'),
            (          'Nova Scotia',        'Accidents'),
            (          'Nova Scotia',       'Fatalities'),
            (          'Nova Scotia', 'Serious injuries'),
            (        'New Brunswick',        'Accidents'),
            (        'New Brunswick',       'Fatalities'),
            (        'New Brunswick', 'Serious injuries'),
            (               'Quebec',        'Accidents'),
            (               'Quebec',       'Fatalities'),
            (               'Quebec', 'Serious injuries'),
            (              'Ontario',        'Accidents'),
            (              'Ontario',       'Fatalities'),
            (              'Ontario', 'Serious injuries'),
            (             'Manitoba',        'Accidents'),
            (             'Manitoba',       'Fatalities'),
            (             'Manitoba', 'Serious injuries'),
            (         'Saskatchewan',        'Accidents'),
            (         'Saskatchewan',       'Fatalities'),
            (         'Saskatchewan', 'Serious injuries'),
            (              'Alberta',        'Accidents'),
            (              'Alberta',       'Fatalities'),
            (              'Alberta', 'Serious injuries'),
            (     'British Columbia',        'Accidents'),
            (     'British Columbia',       'Fatalities'),
            (     'British Columbia', 'Serious injuries'),
            ('Northwest Territories',        'Accidents'),
            ('Northwest Territories',       'Fatalities'),
            ('Northwest Territories', 'Serious injuries')],
           names=['Region', 'EventType'])

In [12]:
incidents.index.get_level_values(0)

Index(['Newfoundland', 'Newfoundland', 'Newfoundland', 'Nova Scotia',
       'Nova Scotia', 'Nova Scotia', 'New Brunswick', 'New Brunswick',
       'New Brunswick', 'Quebec', 'Quebec', 'Quebec', 'Ontario', 'Ontario',
       'Ontario', 'Manitoba', 'Manitoba', 'Manitoba', 'Saskatchewan',
       'Saskatchewan', 'Saskatchewan', 'Alberta', 'Alberta', 'Alberta',
       'British Columbia', 'British Columbia', 'British Columbia',
       'Northwest Territories', 'Northwest Territories',
       'Northwest Territories'],
      dtype='object', name='Region')

In [14]:
incidents.index.get_level_values(1)

Index(['Accidents', 'Fatalities', 'Serious injuries', 'Accidents',
       'Fatalities', 'Serious injuries', 'Accidents', 'Fatalities',
       'Serious injuries', 'Accidents', 'Fatalities', 'Serious injuries',
       'Accidents', 'Fatalities', 'Serious injuries', 'Accidents',
       'Fatalities', 'Serious injuries', 'Accidents', 'Fatalities',
       'Serious injuries', 'Accidents', 'Fatalities', 'Serious injuries',
       'Accidents', 'Fatalities', 'Serious injuries', 'Accidents',
       'Fatalities', 'Serious injuries'],
      dtype='object', name='EventType')

In [15]:
incidents.index.names

FrozenList(['Region', 'EventType'])

Wyświetlenie i zmiana nazw indeksów

In [18]:
incidents.drop(columns='index', inplace=True)
incidents.head()

                               Public automated  Public passive  Private  Farm
Region       EventType
Newfoundland Accidents                        0               0        0     0
             Fatalities                       0               0        0     0
             Serious injuries                 0               0        0     0
Nova Scotia  Accidents                        1               0        0     0
             Fatalities                       0               0        0     0

In [19]:
incidents.index.set_names(['Area', 'Event'], inplace=True)
incidents.head()

                               Public automated  Public passive  Private  Farm
Area         Event
Newfoundland Accidents                        0               0        0     0
             Fatalities                       0               0        0     0
             Serious injuries                 0               0        0     0
Nova Scotia  Accidents                        1               0        0     0
             Fatalities                       0               0        0     0