In [3]:
import pandas as pd
import numpy as np

In [4]:
surveys = pd.read_csv('C:/Users/Mariusz Baran/Data_Science_kurs/Data_science_pliki/course-files/StackOverflowDeveloperSurvey2018.csv',
                     usecols=['Country','Gender','OperatingSystem'], low_memory=False)
surveys.head()

          Country OperatingSystem Gender
0           Kenya     Linux-based   Male
1  United Kingdom     Linux-based   Male
2   United States             NaN    NaN
3   United States         Windows   Male
4    South Africa         Windows   Male

In [8]:
surveys['Country'].is_unique

False

In [13]:
surveys['Country'].unique()[:20]

array(['Kenya', 'United Kingdom', 'United States', 'South Africa',
       'Nigeria', 'India', 'Spain', 'Croatia', 'Netherlands', 'Israel',
       'Sweden', 'Chile', 'Australia', 'Greece', 'Poland', 'Belgium',
       'Argentina', 'Germany', 'Russian Federation', 'Indonesia'],
      dtype=object)

In [15]:
len(surveys['Country'].unique())

184

In [17]:
surveys['Country'].nunique()

183

In [22]:
duplicates_keep_first = surveys.duplicated(subset='Country', keep='first')

In [25]:
surveys[~duplicates_keep_first].head()

          Country OperatingSystem  Gender
0           Kenya     Linux-based    Male
1  United Kingdom     Linux-based    Male
2   United States             NaN     NaN
4    South Africa         Windows    Male
7         Nigeria         Windows  Female

In [26]:
len(surveys[~duplicates_keep_first])

184

In [30]:
surveys.drop_duplicates(subset=['Country', 'OperatingSystem'], inplace=True)

In [31]:
surveys.query('Country == "Poland"')

      Country OperatingSystem Gender
30     Poland     Linux-based   Male
34     Poland         Windows   Male
232    Poland             NaN    NaN
854    Poland           MacOS   Male
72587  Poland        BSD/Unix    NaN