Duplikaty w Data Frame

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
frame = pd.read_csv('C:/Users/Mariusz Baran/Data_Science_kurs/Data_science_pliki/course-files/Mcdonalds.csv',
                   usecols=['Item', 'Category', 'Serving Size', 'Calories', 'TotalFat'])

In [3]:
kolor = ['zielony', 'zielony', 'niebieski', 'niebieski', 'czerwony', 'czerwony', 'biały']
rozmiar = ['S', 'S', 'S', 'M', 'M', 'M', 'L']
płeć = ['M', 'K', 'M', 'K', 'M', 'K', 'U']
clothes = pd.DataFrame({'kolor': kolor, 'rozmiar': rozmiar, 'płeć': płeć})
clothes

       kolor rozmiar płeć
0    zielony       S    M
1    zielony       S    K
2  niebieski       S    M
3  niebieski       M    K
4   czerwony       M    M
5   czerwony       M    K
6      biały       L    U

Spraedzenie czy wartości w kolumnie są unikalne:

In [5]:
clothes['kolor'].is_unique

False

Jakie wartości są unikalne

In [6]:
clothes['kolor'].unique()

array(['zielony', 'niebieski', 'czerwony', 'biały'], dtype=object)

Obliczenie ilości unikalnych elementów:

In [7]:
clothes['kolor'].nunique()

4

In [8]:
len(clothes['kolor'].unique())

4

In [9]:
clothes.loc[6, 'kolor'] = np.NaN
clothes

       kolor rozmiar płeć
0    zielony       S    M
1    zielony       S    K
2  niebieski       S    M
3  niebieski       M    K
4   czerwony       M    M
5   czerwony       M    K
6        NaN       L    U

In [10]:
clothes['kolor'].unique()

array(['zielony', 'niebieski', 'czerwony', nan], dtype=object)

NaN nie jest zliczany przez nunique()

In [11]:
clothes['kolor'].nunique()

3

len() tak

In [12]:
len(clothes['kolor'].unique())

4

Metoda duplicated(): (keep='first') - wartość pierwsza True, (keep='last') - ostatnia, (keep=False) - tylko unikalne

In [14]:
clothes['kolor'].duplicated(keep='first')

0    False
1     True
2    False
3     True
4    False
5     True
6    False
Name: kolor, dtype: bool

In [15]:
clothes

       kolor rozmiar płeć
0    zielony       S    M
1    zielony       S    K
2  niebieski       S    M
3  niebieski       M    K
4   czerwony       M    M
5   czerwony       M    K
6        NaN       L    U

In [16]:
clothes['kolor'].duplicated(keep='last')

0     True
1    False
2     True
3    False
4     True
5    False
6    False
Name: kolor, dtype: bool

In [20]:
clothes['kolor'].duplicated(keep=False)

0     True
1     True
2     True
3     True
4     True
5     True
6    False
Name: kolor, dtype: bool

In [19]:
unique_values = clothes['kolor'].duplicated(keep='first')
clothes[unique_values]

       kolor rozmiar płeć
1    zielony       S    K
3  niebieski       M    K
5   czerwony       M    K

In [21]:
clothes[~unique_values]

       kolor rozmiar płeć
0    zielony       S    M
2  niebieski       S    M
4   czerwony       M    M
6        NaN       L    U

drop_duplicates usuwa duplikaty

In [22]:
clothes.drop_duplicates(subset=['kolor'], keep='first')

       kolor rozmiar płeć
0    zielony       S    M
2  niebieski       S    M
4   czerwony       M    M
6        NaN       L    U

In [24]:
clothes.drop_duplicates(subset=['kolor', 'rozmiar'])

       kolor rozmiar płeć
0    zielony       S    M
2  niebieski       S    M
3  niebieski       M    K
4   czerwony       M    M
6        NaN       L    U