**Dodawanie i usuwanie kolumn**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [3]:
frame = pd.read_csv("C:/Users/Mariusz Baran/Data_Science_kurs/Data_science_pliki/course-files/Mcdonalds.csv",
                   usecols=["Item", "Category", "Calories", "TotalFat", "Sugars", "Protein", "Cholesterol"])
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein
0,Breakfast,Egg McMuffin,300,13.0,260,3,17
1,Breakfast,Egg White Delight,250,8.0,25,3,18
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21

In [4]:
frame.TotalFat.head()

0    13.0
1     8.0
2    23.0
3    28.0
4    23.0
Name: TotalFat, dtype: float64

In [5]:
frame["TotalFat"].head()

0    13.0
1     8.0
2    23.0
3    28.0
4    23.0
Name: TotalFat, dtype: float64

Dodawanie kolumn:

Dodawana kolumna będzie na końcu tabeli

In [7]:
frame["NewCol"] = 0
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein,NewCol
0,Breakfast,Egg McMuffin,300,13.0,260,3,17,0
1,Breakfast,Egg White Delight,250,8.0,25,3,18,0
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14,0
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21,0
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21,0

In [8]:
frame["SugarAndProtein"] = frame.Sugars + frame.Protein
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein,NewCol,SugarAndProtein
0,Breakfast,Egg McMuffin,300,13.0,260,3,17,0,20
1,Breakfast,Egg White Delight,250,8.0,25,3,18,0,21
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14,0,16
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21,0,23
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21,0,23

Dodawanie kolumny w określonym miejscu:

In [9]:
frame.insert(loc=2, column="SFP", value=frame.Sugars + frame.TotalFat + frame.Protein)
frame.head()

,Category,Item,SFP,Calories,TotalFat,Cholesterol,Sugars,Protein,NewCol,SugarAndProtein
0,Breakfast,Egg McMuffin,33.0,300,13.0,260,3,17,0,20
1,Breakfast,Egg White Delight,29.0,250,8.0,25,3,18,0,21
2,Breakfast,Sausage McMuffin,39.0,370,23.0,45,2,14,0,16
3,Breakfast,Sausage McMuffin with Egg,51.0,450,28.0,285,2,21,0,23
4,Breakfast,Sausage McMuffin with Egg Whites,46.0,400,23.0,50,2,21,0,23

Usuwanie kolumn:

In [10]:
del frame["NewCol"]
frame.head()

,Category,Item,SFP,Calories,TotalFat,Cholesterol,Sugars,Protein,SugarAndProtein
0,Breakfast,Egg McMuffin,33.0,300,13.0,260,3,17,20
1,Breakfast,Egg White Delight,29.0,250,8.0,25,3,18,21
2,Breakfast,Sausage McMuffin,39.0,370,23.0,45,2,14,16
3,Breakfast,Sausage McMuffin with Egg,51.0,450,28.0,285,2,21,23
4,Breakfast,Sausage McMuffin with Egg Whites,46.0,400,23.0,50,2,21,23

In [16]:
frame = frame.drop(columns="SugarAndProtein")

In [15]:
frame.head()

,Category,Item,SFP,Calories,TotalFat,Cholesterol,Sugars,Protein
0,Breakfast,Egg McMuffin,33.0,300,13.0,260,3,17
1,Breakfast,Egg White Delight,29.0,250,8.0,25,3,18
2,Breakfast,Sausage McMuffin,39.0,370,23.0,45,2,14
3,Breakfast,Sausage McMuffin with Egg,51.0,450,28.0,285,2,21
4,Breakfast,Sausage McMuffin with Egg Whites,46.0,400,23.0,50,2,21