**Ranking**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
frame = pd.read_csv('C:/Users/Mariusz Baran/Data_Science_kurs/Data_science_pliki/course-files/Mcdonalds.csv',
                   usecols=['Item', 'Category', 'Serving Size', 'Calories', 'TotalFat'])
frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

Wyznaczanie rankingu:

In [3]:
frame['Calories'].rank().head()

0    115.0
1     82.5
2    146.0
3    178.5
4    156.0
Name: Calories, dtype: float64

Dodawanie kolumny z rankingiem do tabeli:

In [4]:
frame['Calories Rank'] = frame['Calories'].rank()
frame.head()

,Category,Item,Serving Size,Calories,TotalFat,Calories Rank
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0,115.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0,82.5
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0,146.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0,178.5
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0,156.0

In [5]:
frame.sort_values(by='Calories').head()

,Category,Item,Serving Size,Calories,TotalFat,Calories Rank
125,Beverages,Diet Dr Pepper (Child),12 fl oz cup,0,0.0,8.5
138,Coffee & Tea,Iced Tea (Medium),21 fl oz cup,0,0.0,8.5
137,Coffee & Tea,Iced Tea (Small),16 fl oz cup,0,0.0,8.5
136,Beverages,Dasani Water Bottle,16.9 fl oz,0,0.0,8.5
145,Coffee & Tea,Coffee (Small),12 fl oz cup,0,0.0,8.5

rank(ascending=False) - wyznaczanie rankingu malejąco

In [6]:
frame['Calories Rank'] = frame['Calories'].rank(ascending=False)
frame.head()

,Category,Item,Serving Size,Calories,TotalFat,Calories Rank
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0,146.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0,178.5
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0,115.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0,82.5
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0,105.0

In [8]:
frame.sort_values(by='Calories', ascending=False).head()

,Category,Item,Serving Size,Calories,TotalFat,Calories Rank
82,Chicken & Fish,Chicken McNuggets (40 piece),22.8 oz (646 g),1880,118.0,1.0
32,Breakfast,Big Breakfast with Hotcakes (Large Biscuit),15.3 oz (434 g),1150,60.0,2.0
31,Breakfast,Big Breakfast with Hotcakes (Regular Biscuit),14.8 oz (420 g),1090,56.0,3.0
34,Breakfast,Big Breakfast with Hotcakes and Egg Whites (La...,15.4 oz (437 g),1050,50.0,4.0
33,Breakfast,Big Breakfast with Hotcakes and Egg Whites (Re...,14.9 oz (423 g),990,46.0,5.0

Metoda do wyciągania największych wartości z tabeli - nlargest:

In [10]:
frame.sort_values(by='Calories', ascending=False, inplace=True)
frame.head(3)

,Category,Item,Serving Size,Calories,TotalFat,Calories Rank
82,Chicken & Fish,Chicken McNuggets (40 piece),22.8 oz (646 g),1880,118.0,1.0
32,Breakfast,Big Breakfast with Hotcakes (Large Biscuit),15.3 oz (434 g),1150,60.0,2.0
31,Breakfast,Big Breakfast with Hotcakes (Regular Biscuit),14.8 oz (420 g),1090,56.0,3.0

In [11]:
frame.nlargest(n=3, columns='Calories')

,Category,Item,Serving Size,Calories,TotalFat,Calories Rank
82,Chicken & Fish,Chicken McNuggets (40 piece),22.8 oz (646 g),1880,118.0,1.0
32,Breakfast,Big Breakfast with Hotcakes (Large Biscuit),15.3 oz (434 g),1150,60.0,2.0
31,Breakfast,Big Breakfast with Hotcakes (Regular Biscuit),14.8 oz (420 g),1090,56.0,3.0

In [14]:
nsmallest - najmniejsze

NameError: name 'nsmallest' is not defined

In [12]:
frame.tail(3)

,Category,Item,Serving Size,Calories,TotalFat,Calories Rank
115,Beverages,Diet Coke (Medium),21 fl oz cup,0,0.0,252.5
114,Beverages,Diet Coke (Small),16 fl oz cup,0,0.0,252.5
146,Coffee & Tea,Coffee (Medium),16 fl oz cup,0,0.0,252.5

In [13]:
frame.nsmallest(n=3, columns='Calories')

,Category,Item,Serving Size,Calories,TotalFat,Calories Rank
145,Coffee & Tea,Coffee (Small),12 fl oz cup,0,0.0,252.5
140,Coffee & Tea,Iced Tea (Child),12 fl oz cup,0,0.0,252.5
139,Coffee & Tea,Iced Tea (Large),30 fl oz cup,0,0.0,252.5