In [1]:
import pandas as pd
import numpy as np

In [4]:
customer_names = pd.read_csv('C:/Users/Mariusz Baran/Data_Science_kurs/Data_science_pliki/course-files/northwind/customers.csv',
                            usecols=['CustomerID', 'CompanyName'])
customer_cities = pd.read_csv('C:/Users/Mariusz Baran/Data_Science_kurs/Data_science_pliki/course-files/northwind/customers.csv',
                             usecols=['CustomerID', 'City', 'Country'])

In [5]:
print(len(customer_names))
print(len(customer_cities))

91
91

In [8]:
customer_names.set_index('CustomerID', inplace=True)
customer_cities.set_index('CustomerID', inplace=True)

In [9]:
customer_names.join(customer_cities).head()

                                   CompanyName          City  Country
CustomerID
ALFKI                      Alfreds Futterkiste        Berlin  Germany
ANATR       Ana Trujillo Emparedados y helados  M?©xico D.F.   Mexico
ANTON                 Antonio Moreno Taquer?­a  M?©xico D.F.   Mexico
AROUT                          Around the Horn        London       UK
BERGS                      Berglunds snabbk?¶p        Lule??   Sweden

In [12]:
len(customer_names.join(customer_cities))

91

In [13]:
customer_names.reset_index(inplace=True)

In [14]:
customer_names.join(other=customer_cities, on=)

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat