In [1]:
import pandas as pd
import numpy as np

In [6]:
suppliers = pd.read_csv('C:/Users/Mariusz Baran/Data_Science_kurs/Data_science_pliki/course-files/northwind/suppliers _del_1.csv',
                       usecols=['SupplierID', 'CompanyName', 'City'])
products = pd.read_csv('C:/Users/Mariusz Baran/Data_Science_kurs/Data_science_pliki/course-files/northwind/products_del_1.csv',
                      usecols=['ProductID', 'ProductName', 'SupplierID'])

In [7]:
prod_and_sup = products.merge(suppliers, how='inner')

In [8]:
print(f'supplies: {len(suppliers)}')
print(f'products: {len(products)}')
print(f'prod and sup: {len(prod_and_sup)}')

supplies: 27
products: 75
prod and sup: 70

In [9]:
outer = products.merge(suppliers, how='outer', indicator=True)
outer.head()

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
0,1.0,Chai,1,Exotic Liquids,London,both
1,2.0,Chang,1,Exotic Liquids,London,both
2,3.0,Aniseed Syrup,1,Exotic Liquids,London,both
3,4.0,Chef Anton's Cajun Seasoning,2,New Orleans Cajun Delights,New Orleans,both
4,5.0,Chef Anton's Gumbo Mix,2,New Orleans Cajun Delights,New Orleans,both

In [10]:
filter_left = outer['_merge'] == 'left_only'
outer[filter_left]

    ProductID          ProductName  SupplierID CompanyName City     _merge
27       22.0  Gustaf's Knäckebröd           9         NaN  NaN  left_only
28       23.0             Tunnbröd           9         NaN  NaN  left_only
48       36.0          Inlagd Sill          17         NaN  NaN  left_only
49       37.0           Gravad lax          17         NaN  NaN  left_only
50       73.0           Röd Kaviar          17         NaN  NaN  left_only

In [11]:
filter_right = outer['_merge'] =='right_only'
outer[filter_right]

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
75,NaN,NaN,27,Escargots Nouveaux,Montceau,right_only