In [1]:
import pandas as pd
import numpy as np

In [2]:
suppliers = pd.read_csv('C:/Users/Mariusz Baran/Data_Science_kurs/Data_science_pliki/course-files/northwind/suppliers.csv',
                        usecols=['SupplierID', 'CompanyName', 'City'])
products = pd.read_csv('C:/Users/Mariusz Baran/Data_Science_kurs/Data_science_pliki/course-files/northwind/products_del_2.csv',
                      usecols=['ProductID', 'ProductName', 'SupplierID'])

In [3]:
sup_prod = suppliers.merge(right=products, on='SupplierID', indicator=True)

In [7]:
print(len(suppliers))
print(len(products))
print(len(sup_prod))

29
68
68

In [6]:
sup_prod_left = suppliers.merge(right=products, on='SupplierID', how='left', indicator=True)

In [9]:
print(len(suppliers))
print(len(products))
print(len(sup_prod_left))

29
68
70

In [10]:
filter = sup_prod_left['_merge'] == 'left_only'
sup_prod_left[filter]

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
2,2,New Orleans Cajun Delights,New Orleans,NaN,NaN,left_only
67,27,Escargots Nouveaux,Montceau,NaN,NaN,left_only

In [11]:
sup_prod_right = products.merge(right=suppliers, on='SupplierID', how='right', indicator=True)

In [12]:
filter = sup_prod_right['_merge'] == 'right_only'
sup_prod_right[filter]

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
2,NaN,NaN,2,New Orleans Cajun Delights,New Orleans,right_only
67,NaN,NaN,27,Escargots Nouveaux,Montceau,right_only