**Wprowadzenie do grupowania danych**

In [1]:
import pandas as pd
import numpy as np

In [2]:
products = pd.read_csv('C:/Users/Mariusz Baran/Data_Science_kurs/Data_science_pliki/course-files/WA_Sales_Products_2012-14.csv')
products.head()

,Retailer country,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
0,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Deluxe Cook Set,2012,Q1 2012,59628.66,489,0.347548
1,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Double Flame,2012,Q1 2012,35950.32,252,0.474274
2,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Dome,2012,Q1 2012,89940.48,147,0.352772
3,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Gazer 2,2012,Q1 2012,165883.41,303,0.282938
4,United States,Fax,Outdoors Shop,Camping Equipment,Sleeping Bags,Hibernator Lite,2012,Q1 2012,119822.20,1415,0.291450

In [3]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88475 entries, 0 to 88474
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Retailer country   88475 non-null  object
 1   Order method type  88475 non-null  object
 2   Retailer type      88475 non-null  object
 3   Product line       88475 non-null  object
 4   Product type       88475 non-null  object
 5   Product            88475 non-null  object
 6   Year               88475 non-null  int64
 7   Quarter            88475 non-null  object
 8   Revenue            88475 non-null  float64
 9   Quantity           88475 non-null  int64
 10  Gross margin       87894 non-null  float64
dtypes: float64(2), int64(2), object(7)
memory usage: 7.4+ MB

Wyświetlenie wartości numerycznych kolumn

In [4]:
products.describe()

               Year       Revenue      Quantity  Gross margin
count  88475.000000  8.847500e+04  88475.000000  87894.000000
mean    2012.855281  4.263829e+04    780.586166      0.449718
std        0.778342  6.578402e+04   1541.645422      0.123642
min     2012.000000  0.000000e+00      1.000000    -12.853678
25%     2012.000000  8.184360e+03    131.000000      0.369880
50%     2013.000000  2.102628e+04    333.000000      0.450634
75%     2013.000000  5.039060e+04    816.000000      0.520130
max     2014.000000  1.635688e+06  67875.000000      0.770476

Sprawdzenie unikalności w kolumnie Retailer country

In [5]:
products['Retailer country'].value_counts()

United States     7482
Canada            5923
France            5779
Germany           5397
Japan             5359
United Kingdom    5102
Netherlands       4199
Switzerland       4103
Italy             4018
Austria           3862
Mexico            3845
Belgium           3710
Australia         3665
China             3652
Spain             3557
Singapore         3443
Finland           3409
Korea             3399
Brazil            3288
Sweden            2925
Denmark           2358
Name: Retailer country, dtype: int64

In [6]:
products['Retailer country'].nunique()

21

Przypisanie do zmiennej unikalnych danych

In [7]:
products['Retailer country'].unique()

array(['United States', 'Canada', 'Mexico', 'Brazil', 'Japan',
       'Singapore', 'Korea', 'China', 'Australia', 'Netherlands',
       'Sweden', 'Denmark', 'Finland', 'France', 'Germany', 'Switzerland',
       'United Kingdom', 'Belgium', 'Austria', 'Italy', 'Spain'],
      dtype=object)

In [13]:
countries = products['Retailer country'].unique()

Przypisanie krajów do słownika za pomocą pętli, można to zrobić za pomocą metod

In [14]:
my_groups = {}
for country in countries:
    my_dtat_frame = products.where(products['Retailer country'] == country).dropna()
    my_groups[country] = my_dtat_frame

In [16]:
my_groups['Mexico'].head()

,Retailer country,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
1468,Mexico,Web,Golf Shop,Personal Accessories,Watches,Infinity,2012.0,Q1 2012,4620.0,21.0,0.474727
1469,Mexico,Web,Golf Shop,Personal Accessories,Watches,Lux,2012.0,Q1 2012,5684.8,34.0,0.478828
1470,Mexico,Web,Golf Shop,Personal Accessories,Watches,TX,2012.0,Q1 2012,4888.0,26.0,0.451702
1471,Mexico,Web,Golf Shop,Personal Accessories,Watches,Legend,2012.0,Q1 2012,4593.4,17.0,0.444782
1472,Mexico,Web,Golf Shop,Personal Accessories,Eyewear,Capri,2012.0,Q1 2012,4825.8,126.0,0.340209