**Operacje agregujące na grupach danych za pomocą metody agg()**

In [1]:
import pandas as pd
import numpy as np

In [2]:
products = pd.read_csv('C:/Users/Mariusz Baran/Data_Science_kurs/Data_science_pliki/course-files/WA_Sales_Products_2012-14.csv')
products.head()

,Retailer country,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
0,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Deluxe Cook Set,2012,Q1 2012,59628.66,489,0.347548
1,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Double Flame,2012,Q1 2012,35950.32,252,0.474274
2,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Dome,2012,Q1 2012,89940.48,147,0.352772
3,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Gazer 2,2012,Q1 2012,165883.41,303,0.282938
4,United States,Fax,Outdoors Shop,Camping Equipment,Sleeping Bags,Hibernator Lite,2012,Q1 2012,119822.20,1415,0.291450

In [3]:
groups = products.groupby(by=['Retailer country', 'Year'])

Standardowy sposób

In [5]:
groups['Revenue'].sum().head()

Retailer country  Year
Australia         2012    25607043.50
                  2013    47799737.14
                  2014    35893188.50
Austria           2012    34568089.63
                  2013    44996737.04
Name: Revenue, dtype: float64

In [6]:
groups['Quantity'].sum().head()

Retailer country  Year
Australia         2012    522186
                  2013    839750
                  2014    638845
Austria           2012    702134
                  2013    803771
Name: Quantity, dtype: int64

In [7]:
groups['Gross margin'].mean().head()

Retailer country  Year
Australia         2012    0.447985
                  2013    0.457347
                  2014    0.446609
Austria           2012    0.446084
                  2013    0.456790
Name: Gross margin, dtype: float64

Uproszczenie 1

In [8]:
groups.Revenue.sum().head()

Retailer country  Year
Australia         2012    25607043.50
                  2013    47799737.14
                  2014    35893188.50
Austria           2012    34568089.63
                  2013    44996737.04
Name: Revenue, dtype: float64

In [9]:
groups.Quantity.sum().head()

Retailer country  Year
Australia         2012    522186
                  2013    839750
                  2014    638845
Austria           2012    702134
                  2013    803771
Name: Quantity, dtype: int64

Nie można tego wykonać na kolumnie Gross margin z powodu spacji

Można to zrobić metodą agg()

In [10]:
groups.agg({'Revenue': 'sum'}).head()

                           Revenue
Retailer country Year
Australia        2012  25607043.50
                 2013  47799737.14
                 2014  35893188.50
Austria          2012  34568089.63
                 2013  44996737.04

In [11]:
groups.agg({'Gross margin': 'mean'}).head()

                       Gross margin
Retailer country Year
Australia        2012      0.447985
                 2013      0.457347
                 2014      0.446609
Austria          2012      0.446084
                 2013      0.456790

W metodzie agg można wykonywać obliczenia dla słownika składającego się z wielu par klucz-wartość

In [12]:
groups.agg({'Revenue': 'sum',
           'Quantity': 'sum',
           'Gross margin': 'mean'}).head()

                           Revenue  Quantity  Gross margin
Retailer country Year
Australia        2012  25607043.50    522186      0.447985
                 2013  47799737.14    839750      0.457347
                 2014  35893188.50    638845      0.446609
Austria          2012  34568089.63    702134      0.446084
                 2013  44996737.04    803771      0.456790

Można też podać więcej niż jedną funkcję

In [13]:
groups.agg({'Revenue': ['sum', 'min', 'max'],
           'Quantity': ['sum', 'min', 'max'],
           'Gross margin': 'mean'}).head()

                           Revenue                 Quantity             \
                               sum  min        max      sum min    max
Retailer country Year
Australia        2012  25607043.50  0.0  254026.08   522186   4   6083
                 2013  47799737.14  0.0  443746.60   839750  10   9442
                 2014  35893188.50  0.0  516135.14   638845   1  20031
Austria          2012  34568089.63  0.0  199715.40   702134   5   6471
                 2013  44996737.04  0.0  317161.24   803771   4   9662

                      Gross margin
                              mean
Retailer country Year
Australia        2012     0.447985
                 2013     0.457347
                 2014     0.446609
Austria          2012     0.446084
                 2013     0.456790

In [14]:
my_agg = ['sum', 'min', 'max']
groups.agg({'Revenue': my_agg,
           'Quantity': my_agg,
           'Gross margin': 'mean'}).head()

                           Revenue                 Quantity             \
                               sum  min        max      sum min    max
Retailer country Year
Australia        2012  25607043.50  0.0  254026.08   522186   4   6083
                 2013  47799737.14  0.0  443746.60   839750  10   9442
                 2014  35893188.50  0.0  516135.14   638845   1  20031
Austria          2012  34568089.63  0.0  199715.40   702134   5   6471
                 2013  44996737.04  0.0  317161.24   803771   4   9662

                      Gross margin
                              mean
Retailer country Year
Australia        2012     0.447985
                 2013     0.457347
                 2014     0.446609
Austria          2012     0.446084
                 2013     0.456790