**Przetwarzanie danych z obiektu grupy**

In [1]:
import pandas as pd
import numpy as np

In [2]:
products = pd.read_csv('C:/Users/Mariusz Baran/Data_Science_kurs/Data_science_pliki/course-files/WA_Sales_Products_2012-14.csv')
products.head()

,Retailer country,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
0,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Deluxe Cook Set,2012,Q1 2012,59628.66,489,0.347548
1,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Double Flame,2012,Q1 2012,35950.32,252,0.474274
2,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Dome,2012,Q1 2012,89940.48,147,0.352772
3,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Gazer 2,2012,Q1 2012,165883.41,303,0.282938
4,United States,Fax,Outdoors Shop,Camping Equipment,Sleeping Bags,Hibernator Lite,2012,Q1 2012,119822.20,1415,0.291450

In [3]:
groups = products.groupby(by=['Retailer country'])

Wyświetlenie państw za pomocą pętli

In [5]:
for country in groups:
    print(country[0])

Australia
Austria
Belgium
Brazil
Canada
China
Denmark
Finland
France
Germany
Italy
Japan
Korea
Mexico
Netherlands
Singapore
Spain
Sweden
Switzerland
United Kingdom
United States

In [6]:
country_names = []
for country in groups:
    country_name.append(country[0])
country_names

['Australia',
 'Austria',
 'Belgium',
 'Brazil',
 'Canada',
 'China',
 'Denmark',
 'Finland',
 'France',
 'Germany',
 'Italy',
 'Japan',
 'Korea',
 'Mexico',
 'Netherlands',
 'Singapore',
 'Spain',
 'Sweden',
 'Switzerland',
 'United Kingdom',
 'United States']

Wyświetlenie nazwy kraju i ilości wierszy w tej grupie

In [7]:
for country in groups:
    print(country[0], len(country[1]))

Australia 3665
Austria 3862
Belgium 3710
Brazil 3288
Canada 5923
China 3652
Denmark 2358
Finland 3409
France 5779
Germany 5397
Italy 4018
Japan 5359
Korea 3399
Mexico 3845
Netherlands 4199
Singapore 3443
Spain 3557
Sweden 2925
Switzerland 4103
United Kingdom 5102
United States 7482

In [9]:
for country, country_data in groups:
    print(f'Kraj: {country} Elementów: {len(country_data)}')

Kraj: Australia Elementów: 3665
Kraj: Austria Elementów: 3862
Kraj: Belgium Elementów: 3710
Kraj: Brazil Elementów: 3288
Kraj: Canada Elementów: 5923
Kraj: China Elementów: 3652
Kraj: Denmark Elementów: 2358
Kraj: Finland Elementów: 3409
Kraj: France Elementów: 5779
Kraj: Germany Elementów: 5397
Kraj: Italy Elementów: 4018
Kraj: Japan Elementów: 5359
Kraj: Korea Elementów: 3399
Kraj: Mexico Elementów: 3845
Kraj: Netherlands Elementów: 4199
Kraj: Singapore Elementów: 3443
Kraj: Spain Elementów: 3557
Kraj: Sweden Elementów: 2925
Kraj: Switzerland Elementów: 4103
Kraj: United Kingdom Elementów: 5102
Kraj: United States Elementów: 7482

Różnica pomiędzy transakcją o największym i najmniejszym zysku

In [10]:
for country, country_data in groups:
    print(country,
         country_data['Revenue'].max() - country_data["Revenue"].min())

Australia 516135.14
Austria 321202.98
Belgium 310499.39
Brazil 352749.39
Canada 648467.6
China 1058301.46
Denmark 313721.1
Finland 770549.32
France 472225.66
Germany 566579.2
Italy 487457.3
Japan 686566.27
Korea 580965.0
Mexico 464070.9
Netherlands 506648.03
Singapore 556619.8
Spain 482286.38
Sweden 295462.2
Switzerland 267702.42
United Kingdom 605546.68
United States 1635687.96

Wyświetlenie kraju, maksymalnego zysku i jego indeksu

In [12]:
for country, country_data in groups:
    print(country,
         country_data['Revenue'].max(),
         country_data['Revenue'].idxmax())

Australia 516135.14 70573
Austria 321202.98 82615
Belgium 310499.39 49613
Brazil 352749.39 44350
Canada 648467.6 76609
China 1058301.46 70217
Denmark 313721.1 63555
Finland 770549.32 80129
France 472225.66 80530
Germany 566579.2 81240
Italy 487457.3 66622
Japan 686566.27 44802
Korea 580965.0 62036
Mexico 464070.9 68672
Netherlands 506648.03 46489
Singapore 556619.8 61696
Spain 482286.38 75501
Sweden 295462.2 79730
Switzerland 267702.42 48559
United Kingdom 605546.68 15898
United States 1635687.96 67651

Wyświetlenie kraju, maksymalnego zysku i jego indeksu, wyświetlenie tego wiersza

In [13]:
for country, country_data in groups:
    print(country,
         country_data['Revenue'].max(),
         country_data['Revenue'].idxmax(),
         country_data.loc[country_data['Revenue'].idxmax()])

Australia 516135.14 70573 Retailer country                        Australia
Order method type                             Web
Retailer type                           Golf Shop
Product line                       Golf Equipment
Product type                                Woods
Product              Hailstorm Titanium Woods Set
Year                                         2014
Quarter                                   Q1 2014
Revenue                                 516135.14
Quantity                                      439
Gross margin                              0.48694
Name: 70573, dtype: object
Austria 321202.98 82615 Retailer country                          Austria
Order method type                             Web
Retailer type                           Golf Shop
Product line                       Golf Equipment
Product type                                Woods
Product              Hailstorm Titanium Woods Set
Year                                         2014
Quarter                                   Q2 2014
Revenue                                 321202.98
Quantity                                      266
Gross margin                             0.487383
Name: 82615, dtype: object
Belgium 310499.39 49613 Retailer country               Belgium
Order method type                  Web
Retailer type             Sports Store
Product line         Camping Equipment
Product type                     Tents
Product                      Star Lite
Year                              2013
Quarter                        Q2 2013
Revenue                      310499.39
Quantity                           877
Gross margin                  0.293879
Name: 49613, dtype: object
Brazil 352749.39 44350 Retailer country                Brazil
Order method type                  Web
Retailer type             Sports Store
Product line         Camping Equipment
Product type                     Tents
Product                      Star Lite
Year                              2013
Quarter                        Q2 2013
Revenue                      352749.39
Quantity                           996
Gross margin                  0.294116
Name: 44350, dtype: object
Canada 648467.6 76609 Retailer country                Canada
Order method type                  Web
Retailer type             Sports Store
Product line         Camping Equipment
Product type                     Tents
Product                   Star Gazer 2
Year                              2014
Quarter                        Q2 2014
Revenue                       648467.6
Quantity                          1172
Gross margin                  0.290493
Name: 76609, dtype: object
China 1058301.46 70217 Retailer country                            China
Order method type                             Web
Retailer type                           Golf Shop
Product line                       Golf Equipment
Product type                                Woods
Product              Hailstorm Titanium Woods Set
Year                                         2014
Quarter                                   Q1 2014
Revenue                                1058301.46
Quantity                                      906
Gross margin                             0.486517
Name: 70217, dtype: object
Denmark 313721.1 63555 Retailer country               Denmark
Order method type                  Web
Retailer type          Warehouse Store
Product line         Camping Equipment
Product type                     Tents
Product                   Star Gazer 2
Year                              2013
Quarter                        Q4 2013
Revenue                       313721.1
Quantity                           567
Gross margin                  0.290493
Name: 63555, dtype: object
Finland 770549.32 80129 Retailer country               Finland
Order method type                  Web
Retailer type            Outdoors Shop
Product line         Camping Equipment
Product type                     Tents
Product                      Star Lite
Year                              2014
Quarter                        Q2 2014
Revenue                      770549.32
Quantity                          2165
Gross margin                  0.297579
Name: 80129, dtype: object
France 472225.66 80530 Retailer country                France
Order method type                  Web
Retailer type            Outdoors Shop
Product line         Camping Equipment
Product type                     Tents
Product                      Star Lite
Year                              2014
Quarter                        Q2 2014
Revenue                      472225.66
Quantity                          1343
Gross margin                  0.289005
Name: 80530, dtype: object
Germany 566579.2 81240 Retailer country               Germany
Order method type                  Web
Retailer type             Sports Store
Product line         Camping Equipment
Product type                     Tents
Product                   Star Gazer 2
Year                              2014
Quarter                        Q2 2014
Revenue                       566579.2
Quantity                          1024
Gross margin                  0.290493
Name: 81240, dtype: object
Italy 487457.3 66622 Retailer country                 Italy
Order method type                  Web
Retailer type          Warehouse Store
Product line         Camping Equipment
Product type                     Tents
Product                   Star Gazer 2
Year                              2013
Quarter                        Q4 2013
Revenue                       487457.3
Quantity                           881
Gross margin                  0.290493
Name: 66622, dtype: object
Japan 686566.27 44802 Retailer country                 Japan
Order method type                  Web
Retailer type             Sports Store
Product line         Camping Equipment
Product type                     Tents
Product                      Star Lite
Year                              2013
Quarter                        Q2 2013
Revenue                      686566.27
Quantity                          1946
Gross margin                  0.291401
Name: 44802, dtype: object
Korea 580965.0 62036 Retailer country                 Korea
Order method type                  Web
Retailer type          Warehouse Store
Product line         Camping Equipment
Product type                     Tents
Product                   Star Gazer 2
Year                              2013
Quarter                        Q4 2013
Revenue                       580965.0
Quantity                          1050
Gross margin                  0.290493
Name: 62036, dtype: object
Mexico 464070.9 68672 Retailer country                           Mexico
Order method type                             Web
Retailer type                        Sports Store
Product line                       Golf Equipment
Product type                                Woods
Product              Hailstorm Titanium Woods Set
Year                                         2014
Quarter                                   Q1 2014
Revenue                                  464070.9
Quantity                                      402
Gross margin                             0.486202
Name: 68672, dtype: object
Netherlands 506648.03 46489 Retailer country           Netherlands
Order method type                  Web
Retailer type             Sports Store
Product line         Camping Equipment
Product type                     Tents
Product                      Star Lite
Year                              2013
Quarter                        Q2 2013
Revenue                      506648.03
Quantity                          1432
Gross margin                  0.293395
Name: 46489, dtype: object
Singapore 556619.8 61696 Retailer country             Singapore
Order method type                  Web
Retailer type          Warehouse Store
Product line         Camping Equipment
Product type                     Tents
Product                   Star Gazer 2
Year                              2013
Quarter                        Q4 2013
Revenue                       556619.8
Quantity                          1006
Gross margin                  0.290493
Name: 61696, dtype: object
Spain 482286.38 75501 Retailer country                            Spain
Order method type                             Web
Retailer type                        Sports Store
Product line                       Golf Equipment
Product type                                Woods
Product              Hailstorm Titanium Woods Set
Year                                         2014
Quarter                                   Q1 2014
Revenue                                 482286.38
Quantity                                      409
Gross margin                             0.487061
Name: 75501, dtype: object
Sweden 295462.2 79730 Retailer country                Sweden
Order method type                  Web
Retailer type             Sports Store
Product line         Camping Equipment
Product type                     Tents
Product                   Star Gazer 2
Year                              2014
Quarter                        Q2 2014
Revenue                       295462.2
Quantity                           534
Gross margin                  0.290493
Name: 79730, dtype: object
Switzerland 267702.42 48559 Retailer country                      Switzerland
Order method type                             Web
Retailer type                           Golf Shop
Product line                       Golf Equipment
Product type                                Woods
Product              Hailstorm Titanium Woods Set
Year                                         2013
Quarter                                   Q2 2013
Revenue                                 267702.42
Quantity                                      227
Gross margin                             0.499394
Name: 48559, dtype: object
United Kingdom 605546.68 15898 Retailer country        United Kingdom
Order method type                  Web
Retailer type             Sports Store
Product line         Camping Equipment
Product type                     Tents
Product                      Star Lite
Year                              2012
Quarter                        Q2 2012
Revenue                      605546.68
Quantity                          1658
Gross margin                  0.315495
Name: 15898, dtype: object
United States 1635687.96 67651 Retailer country                    United States
Order method type                             Web
Retailer type                        Sports Store
Product line                       Golf Equipment
Product type                                Woods
Product              Hailstorm Titanium Woods Set
Year                                         2014
Quarter                                   Q1 2014
Revenue                                1635687.96
Quantity                                     1416
Gross margin                             0.486219
Name: 67651, dtype: object

Dodanie do DF największych wartości dla każdej grupy

In [15]:
the_biggest = pd.DataFrame()
for country, country_data in groups:
    the_biggest = the_biggest.append(country_data.loc[country_data['Revenue'].idxmax])
the_biggest.head()

,Gross margin,Order method type,Product,Product line,Product type,Quantity,Quarter,Retailer country,Retailer type,Revenue,Year
70573,0.486940,Web,Hailstorm Titanium Woods Set,Golf Equipment,Woods,439.0,Q1 2014,Australia,Golf Shop,516135.14,2014.0
82615,0.487383,Web,Hailstorm Titanium Woods Set,Golf Equipment,Woods,266.0,Q2 2014,Austria,Golf Shop,321202.98,2014.0
49613,0.293879,Web,Star Lite,Camping Equipment,Tents,877.0,Q2 2013,Belgium,Sports Store,310499.39,2013.0
44350,0.294116,Web,Star Lite,Camping Equipment,Tents,996.0,Q2 2013,Brazil,Sports Store,352749.39,2013.0
76609,0.290493,Web,Star Gazer 2,Camping Equipment,Tents,1172.0,Q2 2014,Canada,Sports Store,648467.60,2014.0

To samo używając nlargest

In [20]:
the_biggest = pd.DataFrame()
for country, country_data in groups:
    the_biggest = the_biggest.append(country_data.nlargest(1, 'Revenue'))
the_biggest.head()

,Retailer country,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
70573,Australia,Web,Golf Shop,Golf Equipment,Woods,Hailstorm Titanium Woods Set,2014,Q1 2014,516135.14,439,0.486940
82615,Austria,Web,Golf Shop,Golf Equipment,Woods,Hailstorm Titanium Woods Set,2014,Q2 2014,321202.98,266,0.487383
49613,Belgium,Web,Sports Store,Camping Equipment,Tents,Star Lite,2013,Q2 2013,310499.39,877,0.293879
44350,Brazil,Web,Sports Store,Camping Equipment,Tents,Star Lite,2013,Q2 2013,352749.39,996,0.294116
76609,Canada,Web,Sports Store,Camping Equipment,Tents,Star Gazer 2,2014,Q2 2014,648467.60,1172,0.290493