In [1]:
import pandas as pd
import numpy as np

In [2]:
mcdonalds = pd.read_csv('C:/Users/Mariusz Baran/Data_Science_kurs/Data_science_pliki/course-files/mcdonalds.csv',
                       usecols=['Category', 'Item', 'Calories', 'TotalFat'])
mcdonalds.head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin       300      13.0
1  Breakfast                 Egg White Delight       250       8.0
2  Breakfast                  Sausage McMuffin       370      23.0
3  Breakfast         Sausage McMuffin with Egg       450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites       400      23.0

In [3]:
mcdonalds.to_csv('mc_1.csv', index=False)

quotechar='"' - wszystkie wartości w cudzysłowie

In [9]:
mcdonalds.to_csv('mc_2.csv', index=False, quotechar='"')

decimal=',' - wartości dziesiętne oddzielone przecinkiem

In [10]:
mcdonalds.to_csv('mc_3.csv', index=False, quotechar='"', decimal=',')

In [14]:
mcdonalds.to_csv('mc_4.csv', index=False, quotechar='"', decimal=',', columns=['Item', 'TotalFat'])

In [15]:
mcdonalds.to_json('mc_5.json')

Expotr do html

In [20]:
import io
html = mcdonalds.to_html()
with io.open('mc_6.html', 'w', encoding='utf-8') as plik:
    plik.write(html)